html,
body,
*,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

body {
  font-family: "Days One", sans-serif;
}

#productList {
  position: relative;
}

.hero {
  min-height: 100vh;
  background-image: url("assets/images/main-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text {
  color: white;
  position: absolute;
  bottom: 60px;
  left: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 20px;
}

.product {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 26px;

  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.show{
  opacity: 1;
}

.hero, .product {
  scroll-snap-align: start;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2rem;
    color: #ddd;
    font-weight: 300;
}

.product-content {
  width: 500px;
  max-width: 740px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 16px;
  color: white;
}

.product-content:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
}

.product-stats {
    display: grid;
    gap: 10px;
    margin: 10px 0 18px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.stat {
    padding: 10px 12px;
    border-radius: 12px;
    background-color: #0f110f;
    border: 1px solid #0f100f;
    display: flex;
    flex-direction: column;
}

.label {
    color: gray;
    font-size: 13px
}